:root {
    --primary: #a43931;
    --secondary: rgb(29, 67, 80);
    --light: rgb(238, 205, 163);
    --dark: rgb(38, 43, 71);
}
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity 0.5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/*** Gradient Text & BG ***/
 .text-primary-gradient {
    background: linear-gradient(
        to bottom right,
        var(--primary),
        var(--secondary)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-secondary-gradient {
    background: linear-gradient(
        to bottom right,
        var(--secondary),
        var(--primary)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-primary-gradient {
    background: linear-gradient(
        to bottom right,
        var(--primary),
        var(--secondary)
    );
}

.bg-secondary-gradient {
    background: linear-gradient(
        to bottom right,
        var(--secondary),
        var(--primary)
    );
}

/*** Button ***/
.btn {
    transition: 0.5s;
}

.btn.btn-primary-gradient,
.btn.btn-secondary-gradient {
    position: relative;
    overflow: hidden;
    border: none;
    color: #ffffff;
    z-index: 1;
}

.btn.btn-primary-gradient::after,
.btn.btn-secondary-gradient::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: -1;
    opacity: .6;
}

.btn.btn-primary-gradient,
.btn.btn-secondary-gradient::after {
    background: linear-gradient(
        to bottom right,
        var(--primary),
        var(--secondary)
    );
}

.btn.btn-secondary-gradient,
.btn.btn-primary-gradient::after {
    background: linear-gradient(
        to bottom right,
        var(--secondary),
        var(--primary)
    );
}

.btn.btn-primary-gradient:hover::after,
.btn.btn-secondary-gradient:hover::after {
    opacity: 1;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
    border: none;
    background: linear-gradient(
        to bottom right,
        var(--primary),
        var(--secondary)
    );
}

.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-right: 25px;
    padding: 45px 0;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var(--light) !important;
    outline: none;
    transition: 0.5s;
}

.navbar-light .navbar-nav .nav-link::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid;
    border-color: var(--light) transparent transparent transparent;
    transition: 0.5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover::before,
.navbar-light .navbar-nav .nav-link.active::before {
    top: 0;
}

.navbar-light .navbar-brand h1 {
    color: #ffffff;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: 0.5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #ffffff;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #dddddd;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: white !important;
    }

    .navbar-light .navbar-nav .nav-link::before {
        display: none;
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active {
        color: var(--light) !important;
    }

    .navbar-light .navbar-brand h1 {
        background: linear-gradient(
            to bottom right,
            var(--primary),
            var(--secondary)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: #ffffff;
    }

    .sticky-top.navbar-light .navbar-nav .nav-link::before {
        border-top-color: var(--primary);
    }

    .sticky-top.navbar-light .navbar-brand h1 {
        background: linear-gradient(
            to bottom right,
            var(--primary),
            var(--secondary)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

/*** Hero Header home***/
#home{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hero-header {
    margin-bottom: 6rem;
    padding: 16rem 0 0 0;
    background:
        url(../img/bg-circle.png),
        url(../img/bg-triangle.png),
        url(../img/bg-bottom.png),
        linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-position:
        left 0px top 0px,
        right 0px top 50%,
        center bottom;
    background-repeat: no-repeat;
}

 .img-home {
    position: relative; 
    width: 800px; 
    height: 400px; 
    margin-bottom: 80px;
    overflow: hidden; 
    border-radius: 20% 50%; 
    background-color: #fff;
} 

.img-home img { 
    width: 100%; 
    height: auto;
     }
/*services cards*/

.theme-text{
    color: var(--primary);
}

.card-img-top{
    height: 200px;
    width: 100%;
}

.card{
    margin-left: 1rem;
    margin-right: 1rem;
    z-index: 2;
    overflow: hidden;
    transition: .5s;
}

.card:hover{
    color: white;
}

.card::before{
    content: "";
    position: absolute;
    left: -100%;
    top: 0%;
    background: linear-gradient(
        to bottom right,
        var(--primary),
        var(--secondary)
    );;
    width: 100%;
    height: 100%;
    transition:0.5s;
    z-index: -2;
}

.card:hover::before{
    left: 0%;
}

/*** Portfolio ***/
 #portfolio{
    box-sizing: border-box;
    overflow: hidden; 
    padding: 0;
    margin: 0;
}

 .box{
    position: relative;
    overflow: hidden;
    font-family: "lora-regular", serif;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0,0,0,.2);
    justify-content: space-around;
}

.box::before{
    content: "";
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s linear;
    justify-content: space-around;
}

.box:hover::before{
    opacity: 1;
} 

.box img{
    width: 100%;
    height: 100%;
    transition: all 0.4s linear;
}

.box:hover img{
    opacity: 0;
    transform: scale(3);
}

.box .box-content{
    color: #fff;
    width: 100%;
    transform: translateY(-50%) scale(0);
    position: absolute;
    top: 50%;
    left: 0;
    transition: all 0.4s linear;
}

.box:hover .box-content{
    transform: translateY(-50%) scale(1);
}

.box .box-content .title{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}

.box .box-content .details{
    font-size: 16px;
    text-transform: capitalize;
    color: #000;
}

.box-content a{
    color: var(--primary);
    font-size: 2rem;
    justify-content: center;
   }

/*** about-content**/
#about{
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    margin: 0;
    justify-content: center; 
}

.about-section {
    padding: 15%;
    margin-left: 20px;
    right: 3px;
    position: relative;
    font-family: "lora-regular", serif;
    font-size: 1.4rem;
    justify-content: center;
}

.about-section h4{
    color: var(--secondary);
    font-weight: bold;
    font-size: 15px;
}
.about-section .subheading{
    font-size: 30px;
}
.about-section .row
{
    margin-top: 10%;
}
.about-img 
{
    width: 20%;
}
.about-img img{
    height: 40%;
    border-radius: 50%;
    border: 2px solid var(--primary);
}

.about-section h6{
    font-weight: normal;
}

  .about-me{
    width: 150%;
    top: 2em;
} 

ul{
    list-style-type: none;
}

/* progress start */
.skills-bar{
    width: 600px;
    padding: 25px 30px;
}

.skills-bar .bar{
    margin: 20px 0;
}

.skills-bar .bar:first-child{
    margin-top: 0px;
}

.skills-bar .bar .info{
    margin-bottom: 5px;
}

.skills-bar .bar .info span{
    font-size: 17px;
    font-weight: 500;
}

.skills-bar .bar .progress-line{
    position: relative;
    height: 10px;
    width: 80%;
    background: #f0f0f0;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05),
                      0px 1px rgba(255, 255, 255, 0.8);
}

.bar .progress-line span{
    height: 100%;
    width: 100%;
    background:linear-gradient(
        to bottom right,
        var(--primary),
        var(--secondary)
    );
    position: absolute;
    border-radius: 10px;
}

.progress-line.html span{
    width: 95%;
}

.progress-line.css3 span{
    width: 90%;
}

.progress-line.javascript span{
    width: 75%;
}

.progress-line.bootstrap5 span{
    width: 70%;
}

.progress-line.github span{
    width: 85%;
}

.bar .progress-line span::before{
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-top-color: #000;
}

.bar .progress-line span::after{
    position: absolute;
    right: 0;
    top: -28px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px;
}

.progress-line.html span::after{
    content: "95%";
}

.progress-line.css3 span::after{
    content: "90%";
}

.progress-line.javascript span::after{
    content: "75%";
}

.progress-line.bootstrap5 span::after{
    content: "70%";
}

.progress-line.github span::after{
    content: "85%";
}
/*** Footer ***/
.footer {
    margin-top: 6rem;
    padding-top: 9rem;
    background: url(../img/bg-circle.png), url(../img/bg-triangle.png),
        url(../img/bg-top.png),
        linear-gradient(to bottom right, var(--primary), var(--secondary));
    background-position: left 0px bottom 0px, right 0px top 50%, center top;
    background-repeat: no-repeat;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(256, 256, 256, 0.1);
    border-radius: 40px;
    transition: 0.3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    transition: 0.3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
    color: var(--light);
}
.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
} 

.footer .footer-details{
    margin-top: 30px;
    padding-right: 0;
    border-right: none;
    font-size: small !important;
} 

/** media querry **/

@media (max-width:991.98px){
    .navbar-light{
        background: linear-gradient(
            to bottom right,
            var(--primary),
            var(--secondary)
        );
    }

    .hero-header {
        padding: 6rem 0 9rem 0;
    }

    .about-section {
        padding: 5%;
        margin-left: 10px;
        right: 3px;
        font-size: 1rem;
    }

    .about-section h4{
        font-size: 15px;
    }
    .about-section .subheading{
        font-size: 20px;
    }

    .about-img 
    {
        width: 50%;
    }

    .about-img img{
        height: 60%;
    }
    
      .about-me{
        width: 100%;
        top: 0em;
    }     

    .skills-bar .bar .progress-line{
        width: 40%;
        justify-items: center;
    }

    .box .box-content .title
    .details
    a{
        font-weight:normal;
        font-size:1%;
    }

    .hide {
        display: none;
    }
    
    .desktop-show {
            display: initial;
        }

    .py-5 {
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
    }

    .box .box-content{
        top: 50%;
    }
    
    .box .box-content .title{
        font-size: 0.5rem;
        font-weight: 0.5rem;
    }
    
    .box .box-content .details{
        font-size: 0.7rem;
    }
    
    .box-content a{
        font-size: 0.8rem;
       }    
   
    .footer{
        width: 100%;
    }
}